[submodule "HDL/submodules/ocra_grad_ctrl"]
	path = HDL/submodules/ocra_grad_ctrl
	url = https://github.com/vnegnev/ocra_grad_ctrl
	branch = bd_creation
[submodule "hdl/submodules/complex_multiplier"]
	path = hdl/submodules/complex_multiplier
	url = https://github.com/catkira/complex_multiplier
	branch = master
